@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@import url('https://fonts.cdnfonts.com/css/impact');
:root{
	--font: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font)
}
.Navbar{
    background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white; 
    font-size: 1rem; 
}
.Navbar--Logo {
    display: flex;
    align-items: center;
}
.Navbar--Logo img {
    width: 40px;
    margin-right: 10px;
}
.Navbar--Logo__Text{
    font-weight: 600;
    font-size: 1.5em;
}
.Navbar--Project{
    font-weight: 500;
    font-size: 1em;
}
.Position {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.Container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 400px;
}
.Input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
    gap: 10px;
}
.Input input {
    border: none;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    padding: 5px;
}
.Generate-Button {
    border-radius: 5px;
    background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
    border: 0;
    color: white;  
    grid-column: 1/-1;
    cursor: pointer;
    padding: 8px;
}
.Image {
    width: 100%;
    position: relative;   
}
.Image img{
    width: 100%;   
}
.Image p {
    font-family: 'Impact', sans-serif;
    max-width: 400px;
    font-weight: 600;
    font-size: 20pt;
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    text-align: center;

}
.Text-Above{
    position:absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0)
}
.Text-Below{
    position:absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0)
}
@media (max-width: 425px){
    .Navbar{
        font-size: .8rem;
    }
    .Input {
        grid-template-columns: 1fr;
    }
    .Container {
        max-width: 300px;
    }
}