@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
	--font: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font)
}
.Navbar{
    background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white; 
    font-size: 1rem; 
}
.Navbar--Logo {
    display: flex;
    align-items: center;
}
.Navbar--Logo img {
    width: 40px;
    margin-right: 10px;
}
.Navbar--Logo__Text{
    font-weight: 600;
    font-size: 1.5em;
}
.Navbar--Project{
    font-weight: 500;
    font-size: 1em;
}